@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #323133;
}

h1 {
  margin: 30px;
  font-font-family: 'Poppins', sans-serif;
  
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #e5f6f0;
}

p {
  font-size: 2rem;
  color: #e2f1ec;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
